.searchInput {
    width: 80%;
    height: 100%;
    border-radius: 1rem;
    border: var(--border);
    background: var(--background);
    padding-left: 1rem;
    font-size: 1.8rem;
    color: var(--text);
}

.darkThemeInput {
    border: var(--border-darkTheme);
    background: var(--text);
    color: var(--background);
}

.searchInput:focus {
    outline: none;
}
