.result-section {
    flex-grow: 1;
    border-top: 1px solid var(--accent);
    padding-top: 3rem;
    display: flex;
    gap: 2rem;
}

.left-section {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
}

.right-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    border: var(--border);
    border-radius: 1rem;
    width: 60rem;
}

.wrapper.dark-theme .right-section,
.wrapper.dark-theme .left-section {
    color: var(--reserveBg);
}

.wrapper.dark-theme .right-section {
    border: var(--border-darkTheme);
}

.no-result {
    font-size: 4rem;
    color: #bab2b5;
    grid-column: 1/4;
}
