.leftSection {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
}

.leftSectionDark {
    color: var(--reserveBg);
}

.noResult {
    font-size: 4rem;
    color: #bab2b5;
    grid-column: 1/4;
}
