.form-field,
.form-radio-group,
.form-radio-option {
    display: flex;
    gap: 0.8rem;
}

.form-radio-option {
    gap: 0.2rem;
}

.form-field {
    position: relative;
    width: 100%;
    align-items: baseline;
}
.radio-field {
    align-items: center;
}

.form-input {
    flex-grow: 1;
}

.weak::before,
.medium::before,
.strong::before {
    position: absolute;
    font-size: 1.2rem;
    bottom: -70%;
    left: 40%;
}

.weak::before {
    content: 'Your password is weak';
    color: red;
}
.medium::before {
    content: 'Your password is medium';
    color: #c2c20c;
}
.strong::before {
    content: 'Your password is strong';
    color: green;
}
