html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}

body {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: blueviolet;
}

button {
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    border: none;
}

#root {
    height: 100%;
}

.nav-bar {
    width: 50svw;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.nav-link {
    transition: all 0.5s;
}

.nav-link:hover {
    text-decoration: underline;
}
