.searchBtn {
    border: var(--border);
    height: 100%;
    padding: 8px 16px;
    font-weight: bold;
    color: var(--accent);
    transition: all 0.3s;
}

.darkThemeSearchBtn {
    border: var(--border-darkTheme);
}

.searchBtn:hover {
    color: var(--text);
}

.darkThemeSearchBtn:hover {
    color: var(--background-darkTheme);
}
